<% provide(:title, 'Impressum') %>

<div class="single-page" id="impressum">
	<h2>Impressum</h2>

	<p>
		Konrad Förster<br>
		Gotthardstrasse 85<br>
		80689 München (Deutschland)
	</p>

	<p>
		E-Mail: <%= link_to "info@konradfoerster.de", "mailto:info@konradfoerster.de" %><br>
		Tel.: 0162/6947837
	</p>

	<p>
		Web-Entwicklung: Anna Förster<br>
		E-Mail: <%= link_to "anna.foerster@protonmail.com", "mailto:anna.foerster@protonmail.com" %>
	</p>

</div>
