<% provide(:title, 'Impressum') %>

<div class="single-page" id="impressum">
	<h1>Impressum</h1>

	<p>
		Konrad Förster<br>
		Gotthardstrasse 85<br>
		80689 München (Deutschland)
	</p>

	<p>
		E-Mail: info@konradfoerster.de<br>
		Tel.: 0162/6947837
	</p>

	<p>
		Web-Admin: Anna Förster
	</p>

</div>
