<% provide(:title, 'In Kürze') %>

<div class="single-page" id="in-kuerze">

	<h2>In Kürze</h2>

	<p>
		Soladis-music bietet eine Musikplattform für alle, die nach kostenloser und gemafreier Musik für ihre Projekte suchen (z. B. für YouTube-Videos, Filme aber auch TV-, Radio- oder Internetwerbung etc.).
	</p>

	<p>
		Diese kleine Musikplattform enthält meist <span>instrumentale Musikstücke (Wav, 16 Bit, 44,1 kHz)</span> und wird unregelmäßig erweitert.
	</p>

	<p>
		Die Musik kann <span>zeitlich unbegrenzt im Rahmen all deiner Projekte</span> (privat oder kommerziell) genutzt werden. Auch <span >Anpassungen der Musik an das Projekt</span> sind keine Grenzen gesetzt. Bei der <span>unbegrenzten Vervielfältigung des Projekts</span> besteht keine Einschränkung gegenüber der Musik.<br>
		Die Musikstücke sind unter der <%= link_to "CC BY", "https://creativecommons.org/licenses/?lang=en", target: '_blank'%>-Lizenz freigegeben.
	</p>

	<p>
		Bei Fragen, Anregungen, Wünschen oder Meinungen einfach mich über die <%= link_to('Kontaktseite', '/kontakt') %> anschreiben.
	</p>

	<p>
		Alle Rechte an der jeweiligen Komposition und Einspielung (und auch Bildern) habe ich bzw. wurden mir überlassen (Bei Letzterem siehe Vermerk beim entsprechenden Stück zum Komponisten).
	</p>

	<p>
		<i>Über einen Hinweis zum entstandenen Projekt und eine Nennung von Soladis-Music (oder mir) im Projekt, würde ich mich sehr freuen.</i>
	</p>

</div>
