<% provide(:title, 'In Kürze') %>

<div class="single-page" id="in-kuerze">

	<h1>In Kürze</h1>

	<p>
		Soladis-music bietet eine Musikplattform für alle, die nach kostenloser und gemafreier Musik für ihre Projekte suchen (z. B. für YouTube-Videos, Filme aber auch TV-, Radio- oder Internetwerbung etc.).
	</p>

	<p>
		Diese kleine Musikplattform enthält meist <span style="color: red">instrumentale Musikstücke (Wav, 16 Bit, 44,1 kHz)</span> und wird unregelmäßig erweitert.
	</p>

	<p>
		Die Musik kann <span style="color: red">zeitlich unbegrenzt im Rahmen all deiner Projekte</span> (privat oder kommerziell) genutzt werden. Auch <span style="color: red">Anpassungen der Musik an das Projekt</span> sind keine Grenzen gesetzt. Bei der <span style="color: red">unbegrenzten Vervielfältigung des Projekts</span> besteht keine Einschränkung gegenüber der Musik.
	</p>

	<p>
		Bei Fragen, Anregungen, Wünschen oder Meinungen einfach mich über die <%= link_to('Kontaktseite', '/kontakt') %> anschreiben.
	</p>

	<p>
		Alle Rechte an der jeweiligen Komposition und Einspielung (und auch Bildern) habe ich bzw. wurden mir überlassen (Bei Letzterem siehe Vermerk beim entsprechenden Stück zum Komponisten).
	</p>

	<p>
		<i><b>Über einen Hinweis zum entstandenen Projekt und eine Nennung von soladis-music (oder mir) im Projekt, würde ich mich sehr freuen.</b></i>
	</p>

</div>
