<div class="single-page" id="homepage">
	<h2>Gemafreie Musik ohne Einschränkungen für maximale Freiheit im Projekt</h2>
	<p>
		Gemafreie Musik muss nicht schlecht sein. Mit dieser noch kleinen Musikplattform biete ich dir Musik für deine Projekte - vom privaten You-Tube-Video bis zum TV-Werbespot. Die Musik steht im Rahmen der <%= link_to "CC BY", "https://creativecommons.org/licenses/?lang=en" %>-Lizenz kostenlos zum Download bereit. <br>
		Um die Musik downzuloaden, einfach auf den Titel eines Stückes klicken und im neu geöffneten Bereich downloaden.<br>
		Mehr Infos: <%= link_to "In Kürze", in_kuerze_path %>.
	</p>
	<p>
		Viel Spaß beim Durchstöbern, <br>
		<i>Konrad</i>
	</p>

	<h2>Kleine Auswahl</h2>
	<div class="all-tracks-table">
		<%= render @chosen_tracks %>
	</div>
	<div id="more-tracks-button">
		<%= link_to "Weitere Tracks ansehen", music_path, class:'user-edit-button' %>
	</div>
</div>