<% provide(:title, "Neuer Track")%>
<% provide(:button_text, "Neuen Track erstellen") %>

<div class="single-page", id="new-track-page">
	<h2>Neuen Track erstellen</h2>
	<%= render 'shared/track_form' %>
</div>