<h1>Passwort zurücksetzen</h1>

<p>Hallo, <%= @user.name%>!</p>

<p>

	Um Dein Passwort für Soladis-Music zurückzusetzen, klicke bitte auf den folgenden Link:
	<%= link_to "Passwort zurücksetzen", edit_password_reset_url(@user.reset_token, email: @user.email) %>
</p>
<p>

	Der Link ist zwei Stunden gültig.<br>

	Falls Du keine E-Mail zum Zurücksetzen des Passworts angefordert hast, ignoriere diese E-Mail einfach und Dein Passwort bleibt wie es ist.
</p>