<% provide(:title, 'Profil aktualisieren') %>
<% provide(:button_text, 'Speichern') %>

<div class="single-page" id="update-profile-page">
	<h2>Profil aktualisieren</h2>
	
	<%= render 'shared/soladis-form' %>
</div>