<% provide(:title, @user.name )%>

<div class = "single-page">
	<h2>
		<%= @user.name%>
	</h2>
	<p>
		<%= @user.email %>
	</p>

	<% if @user.admin? || @user.superadmin? %>
		<h3>Meine Rollen</h3>
		<p>
			<% if @user.admin %>
				Admin<br>
			<% end %>
			<% if @user.superadmin? %>
				Superadmin
			<% end %>
		</p>
	<% end %>

	<div id="my-actions">
		<h3>Meine Aktionen</h3>
		<p>
			<%= link_to "Profil aktualisieren", edit_user_path(@user) %>
		</p>
	</div>
	
	
</div>