<% provide(:title, 'Video bearbeiten') %>
<% provide(:button_text, 'Speichern') %>

<div class="single-page", id="edit-video-page">
	<h2>Video bearbeiten</h2>
	<%= render 'shared/video_form' %>
</div>