<% provide(:title, 'Neues Video') %>
<% provide(:button_text, 'Neues Video hinzufügen') %>

<div class="single-page", id="new-video-page">
	<h2>Neues Video</h2>
	<%= render 'shared/video_form' %>
</div>