//import "bootstrap-sprockets";
//@import "bootstrap";
@import 'font_awesome5_webfont';

@font-face {
    font-family: 'SangBleuSunrise-Regular';
    //src: url('SangBleuSunrise-Regular-WebTrial.otf');
    src: font-url('SangBleuSunrise-Regular-WebTrial.eot');
    src: font-url('SangBleuSunrise-Regular-WebTrial.eot?#iefix') format('embedded-opentype'),
         font-url('SangBleuSunrise-Regular-WebTrial.woff2') format('woff2'),
         font-url('SangBleuSunrise-Regular-WebTrial.woff') format('woff'),
         font-url('SangBleuSunrise-Regular-WebTrial.ttf') format('truetype'),
         font-url('SangBleuSunrise-Regular-WebTrial.svg#SangBleuSunrise-Regular-WebTrial') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SangBleuSunrise-Light';
    //src: url('SangBleuSunrise-Regular-WebTrial.otf');
    src: font-url('SangBleuSunrise-Light-WebTrial.eot');
    src: font-url('SangBleuSunrise-Light-WebTrial.eot?#iefix') format('embedded-opentype'),
         font-url('SangBleuSunrise-Light-WebTrial.woff2') format('woff2'),
         font-url('SangBleuSunrise-Light-WebTrial.woff') format('woff'),
         font-url('SangBleuSunrise-Light-WebTrial.ttf') format('truetype'),
         font-url('SangBleuSunrise-Light-WebTrial.svg#SangBleuSunrise-Regular-WebTrial') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SangBleuSunrise-Livre';
    //src: url('SangBleuSunrise-Regular-WebTrial.otf');
    src: font-url('SangBleuSunrise-Livre-WebTrial.eot');
    src: font-url('SangBleuSunrise-Livre-WebTrial.eot?#iefix') format('embedded-opentype'),
         font-url('SangBleuSunrise-Livre-WebTrial.woff2') format('woff2'),
         font-url('SangBleuSunrise-Livre-WebTrial.woff') format('woff'),
         font-url('SangBleuSunrise-Livre-WebTrial.ttf') format('truetype'),
         font-url('SangBleuSunrise-Livre-WebTrial.svg#SangBleuSunrise-Regular-WebTrial') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SangBleuSunrise-Medium';
    //src: url('SangBleuSunrise-Regular-WebTrial.otf');
    src: font-url('SangBleuSunrise-Medium-WebTrial.eot');
    src: font-url('SangBleuSunrise-Medium-WebTrial.eot?#iefix') format('embedded-opentype'),
         font-url('SangBleuSunrise-Medium-WebTrial.woff2') format('woff2'),
         font-url('SangBleuSunrise-Medium-WebTrial.woff') format('woff'),
         font-url('SangBleuSunrise-Medium-WebTrial.ttf') format('truetype'),
         font-url('SangBleuSunrise-Medium-WebTrial.svg#SangBleuSunrise-Regular-WebTrial') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SangBleuSunrise-Bold';
    //src: url('SangBleuSunrise-Regular-WebTrial.otf');
    src: font-url('SangBleuSunrise-Bold-WebTrial.eot');
    src: font-url('SangBleuSunrise-Bold-WebTrial.eot?#iefix') format('embedded-opentype'),
         font-url('SangBleuSunrise-Bold-WebTrial.woff2') format('woff2'),
         font-url('SangBleuSunrise-Bold-WebTrial.woff') format('woff'),
         font-url('SangBleuSunrise-Bold-WebTrial.ttf') format('truetype'),
         font-url('SangBleuSunrise-Bold-WebTrial.svg#SangBleuSunrise-Regular-WebTrial') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'SangBleuEmpire-Regular';
    //src: url('SangBleuSunrise-Regular-WebTrial.otf');
    src: font-url('SangBleuEmpire-Regular-WebTrial.eot');
    src: font-url('SangBleuEmpire-Regular-WebTrial.eot?#iefix') format('embedded-opentype'),
         font-url('SangBleuEmpire-Regular-WebTrial.woff2') format('woff2'),
         font-url('SangBleuEmpire-Regular-WebTrial.woff') format('woff'),
         font-url('SangBleuEmpire-Regular-WebTrial.ttf') format('truetype'),
         font-url('SangBleuEmpire-Regular-WebTrial.svg#SangBleuSunrise-Regular-WebTrial') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SangBleuKingdom-Regular';
    //src: url('SangBleuSunrise-Regular-WebTrial.otf');
    src: font-url('SangBleuKingdom-Regular-WebTrial.eot');
    src: font-url('SangBleuKingdom-Regular-WebTrial.eot?#iefix') format('embedded-opentype'),
         font-url('SangBleuKingdom-Regular-WebTrial.woff2') format('woff2'),
         font-url('SangBleuKingdom-Regular-WebTrial.woff') format('woff'),
         font-url('SangBleuKingdom-Regular-WebTrial.ttf') format('truetype'),
         font-url('SangBleuKingdom-Regular-WebTrial.svg#SangBleuSunrise-Regular-WebTrial') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SangBleuRepublic-Regular';
    //src: url('SangBleuSunrise-Regular-WebTrial.otf');
    src: font-url('SangBleuRepublic-Regular-WebTrial.eot');
    src: font-url('SangBleuRepublic-Regular-WebTrial.eot?#iefix') format('embedded-opentype'),
         font-url('SangBleuRepublic-Regular-WebTrial.woff2') format('woff2'),
         font-url('SangBleuRepublic-Regular-WebTrial.woff') format('woff'),
         font-url('SangBleuRepublic-Regular-WebTrial.ttf') format('truetype'),
         font-url('SangBleuRepublic-Regular-WebTrial.svg#SangBleuSunrise-Regular-WebTrial') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SangBleuVersailles-Regular';
    //src: url('SangBleuSunrise-Regular-WebTrial.otf');
    src: font-url('SangBleuVersailles-Regular-WebTrial.eot');
    src: font-url('SangBleuVersailles-Regular-WebTrial.eot?#iefix') format('embedded-opentype'),
         font-url('SangBleuVersailles-Regular-WebTrial.woff2') format('woff2'),
         font-url('SangBleuVersailles-Regular-WebTrial.woff') format('woff'),
         font-url('SangBleuVersailles-Regular-WebTrial.ttf') format('truetype'),
         font-url('SangBleuVersailles-Regular-WebTrial.svg#SangBleuSunrise-Regular-WebTrial') format('svg');
    font-weight: normal;
    font-style: normal;
}

//$text_color: #7f5339;
//$text_color: #772f1a; // sehr gut
$text_color: #77191a;  //sehr gut - cedon heft
$text_color: #6c6360;
$text_color: #363230;
//$heading_color: #e36414;
//$link_color: #0f4c5c;
//$link_color: #335c67;
//$link_color: #588b8b;
//$link_color: #077187; //ganz gut
//$link_color: #275e54; - zu dunkel
//$link_color: #074f57; - zu dunkel
//$link_color: #00755d; - weniger gut als die davor
//$link_color: #2d5038; - viel zu dunkel
//$hovered_link: #802b00; //zu dunkel

$background_color: #f9f9f9;
$heading_color: #dc2f02;
//$register_color: #388e3c;
$register_color: #00999b;
//$button_hover_color: #3fa044;
//$button_hover_color: #317c34;
$button_hover_color: #00898b;
//$text_color: #802b00; // sehr gut, aber etwas heller und freundlicher
//$text_color: #592720;
//$link_color: #008081; // sehr gut!
$link_color: #00999b;
//$link_color: #005651;
$hovered_link_color: #fb3f00;
$delete_button_color: $heading_color;
$delete_button_hover_color: #c62a01;

html body {
    background-color: $background_color;
    color: $text_color;
    font-family: 'SangBleuSunrise-Regular';
    font-size: 16px;
}

body {
    height: 100vh;
    margin: 0px;
}
header, footer {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

header {    
    padding-top: 20px;
    //margin-bottom: 50px;
}

#soladis-title {
    font-family: 'El Messiri', sans-serif;
    color: $heading_color;
    font-weight: bold;
    font-size: 2.5em;
}

#soladis-subtitle {
    //color: #00763b;
    //color: #02afdc; //sehr schönes blau
    color: $text_color;
    opacity: 0.9;
    font-style: italic;
    text-align: center;
    font-size: 18px;
    margin-top: -10px;
}

#header-menu {
    flex-basis: 50%;
}

#footer-menu {
    flex-basis: 30%;
}
#header-menu-list, #footer-menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: $heading-color;
}

#footer-menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

#header-menu-list a {
    color: $heading-color;
    text-decoration: none;
    font-size: 16px;
    font-family: 'SangBleuSunrise-Light';
    font-weight: bold;
    letter-spacing: 1.0px;
    padding-bottom: 2px;
    border-radius: 1.5px;
    border-bottom: 1.5px $background-color solid;
    transition: border-bottom 0.75s;
}

#header-menu-list a:hover {
    border-bottom: 1.5px $heading-color solid;
}

#mein-list-item {
    position: relative;
}

#user-menu-list {
    list-style: none;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-top: 10px;
    z-index: 10;
    padding-left: 0px;
    opacity: 0;
    transition: opacity 0.75s;
    position: absolute;
    background-color: $background_color;
}

#meins-list-item:hover {
    #user-menu-list {
        opacity: 1;
    }
}

#user-menu-list a {
    border-bottom: none;
}

#user-menu-list a:hover {
    border-bottom: none;
}

.user-menu-item {
    padding: 3px 15px;
}

.user-menu-item:hover{
    background-color: #e8e8e8;
    border-radius: 1px;
}

#divider-item {
    opacity: 0.5;
}


footer {
    font-size: 14px;
    font-family: 'SangBleuSunrise-Light';
    font-weight: normal;
    margin-top: 70px;

}
#footer-menu-list a {
    color: $text-color;
    text-decoration: none;
    font-size: 14px;
    font-family: 'SangBleuSunrise-Light';
    font-weight: normal;
    letter-spacing: 1.0px;
    padding-bottom: 2px;
    border-radius: 1.5px;
    border-bottom: 1.5px $background-color solid;
}

#footer-menu-list a:hover {
    border-bottom: 0.8px $text-color solid;
}
.single-page {
    width: 85%;
    margin: auto;
    min-height: 69vh;
    position: relative;
    top: 40px;
}

#ueber-mich-container {
    display: flex;
}

#ueber-mich-text {
    width: 70vw;
    padding-right: 50px;
}

#ueber-mich-text span {
    text-align: justify;
}

#ueber-mich-img-img {
    width: 25vw;
    height: auto;
    border-radius: 5px;
}


h1, h2, h3 {
    color: $heading_color;
    font-family: 'SangBleuSunrise-Light';
    font-weight: normal;
}

a {
    color: $link_color;
}

a:hover {
    color: $heading_color;
}

/*mixins, variables, etc. */

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 0px;
    @include box-sizing;
}


/*signup-form and login-form*/

.soladis-form form, .soladis-form p {
    width: 30%;
    margin: auto;
    position: relative;
    
}

/* new track form*/
#track-form form, #track-edit-form form {
    margin-left: 0px;
}

#login h2, #signup h2, #update-profile-page h2, #password-reset h2, #password-reset-page h2 {
    text-align: center;
    margin-bottom: 50px;
}

.soladis-form input, .soladis-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    height: 30px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    font-family: 'SangBleuSunrise-Regular';
    font-size: 15px;
}

.soladis-form input[type=file] {
    border: none;
    padding-top: 7px;
}

.soladis-form textarea {
    height: 100px;
}

.soladis-form input:focus, .soladis-form textarea:focus {
    outline: 1px solid #ccc;
}

.soladis-form input[type=submit] {
    background: $register_color;
    color: white;
}

.soladis-form input[type=submit]:hover {
    background: $button_hover_color;
    color: white;
    cursor: pointer;
}

#login-password {
    margin-bottom: 3px;
}

#password-reset-link {
    font-size: 14px;
    position: absolute;
    right: 0;
}

.user-checkbox {
    display: flex;
    height: 20px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.user-checkbox input {
    width: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.user-checkbox input:focus {
    outline: 0;
}

.user-checkbox span {
    font-size: 15px;
    width: 200px;
    margin-left: 4px;
}

/* errors */
#error_explanation, #error-explanation {
    color: red;
    ul li{
        margin-bottom: 10px;
    }
}

.field_with_errors input{
    outline: 1px solid red;
    border-radius: 4px;
}

/* Flash messages */
.alert {
    width: 85%;
    margin: 30px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 4px;

}
.alert-success {
    background-color: #dff0d8;
    color: #28a745;
}

.alert-danger {
    background-color: #f8d7da;
    color: #dc3545;
    //color: #721c24;
}

.alert-info {
    background-color: #cce5ff;
    //color: #17a2b8;
    color: #004085;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
}

#all-users-list {
    list-style: none;
    padding-left: 20px;
}

#all-users-list li {
    margin-bottom: 15px;
}

span#user-name-index {
    width: 200px;
    display: inline-block;
}

.pagination {
    margin-top: 50px;
}

.pagination .current, .pagination a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.pagination .current {
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 2px 10px 2.5px 10px;
    background: $link_color;
    color: white;
    font-style: normal;


}

.pagination {
    font-weight: bold;
}

.user-edit-button {
    border: 1px solid #d3d3d3;
    //background-color: #e4e4e4;
    background-color: #00999b;
    border-radius: 4px;
    padding: 3px 10px;
    margin-right: 20px;
    //color: $text_color;
    color: white;
    text-decoration: none;
}

.user-edit-button:hover {
    //background-color: #d7d7d7;
    background-color: #00898b;
    //color: $text_color;
    color: white;

}

/* Tracks Styling */

.h2-fa-icon {
    font-size: 16px;
    margin-left: 25px;
}

#show-track-page-unpublished {
    background-color: beige;
}

#edit-track-links {
    display: flex;
    justify-content: space-between;
}

#edit-track-links > input, #edit-track-links > a {
    width: 35%;
    margin-bottom: 0px;
}

#edit-track-links a {
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding-top: 1px;
    background: $delete_button_color;
    color: white;
}

#edit-track-links a:hover {
    background: $delete_button_hover_color;
}

.all-tracks-list {
    list-style: none;
    padding-left: 20px;
}

.single-track-item {
    display: inline-block;
    width: 200px;
}

#track-delete-button {
    background-color: $delete_button_color;
}

#track-delete-button:hover {
    background-color: $delete_button_hover_color;
}

#h2-fa-icon-create-track {
    font-size: 20px;
}

.all-tracks-list li {
    margin-bottom: 30px;
}

.published-status-index {
    display: inline-block;
    width: 100px;
}

.user-checkbox span {
    margin-top: 2px;
}

#track-filter {
    display: flex;
    margin-bottom: 45px;
    align-items: center;
    height: 31px;
}

#track-filter form {
    margin-left: 20px;
}

#track-filter form span {
    display: inline-block;
    width: 75px;
}

#track-filter form input[type="submit"] {
    font-family: 'SangBleuSunrise-Regular';
    font-size: 16px;
    color: white;
    background-color: $register_color;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 3px 10px;
}

#track-filter form input[type="submit"]:hover {
    cursor: pointer;
    background-color: $button_hover_color;
}

.index-table {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-gap: 2px;
  overflow: hidden;

  width: 50%;
}

.index-heading {
    height: 50px;
    line-height: 50px;
    color: $heading-color;
    font-family: 'SangBleuSunrise-Light';
    font-size: 18px;

}

.index-aktionen {
    text-align: center;
}

.index-row-wrapper {
    display: contents;
}

.index-row-wrapper:hover > div {
    background-color: darken(white, 8%);
}

.index-row {
    height: 40px;
    line-height: 40px;
}

.index-row-title {
    padding-left: 5px;
}

//Users Profile page
#my-dashboard-flexbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#my-roles-and-actions {
    width: 50%;
}

#my-tracks {
    width: 50%;
}

#my-tracks .index-table {
    width: 100%;
}


// Track Show page
#track-show-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#track-show-image {
    width: 50%;
}

#track-show-image img {
    border-radius: 4px;
    width: 550px;
}

#track-show-attributes {
    width: 45%;
    position: relative;
}

#track-show-attributes p {
    margin-top: 0px;
    position: relative;
}

//Track Edit page
#track-image-edit img {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-audio {
    margin-top: 10px;
}

// Alle Tracks page
.all-tracks-table {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-gap: 50px;
  overflow: hidden;

  width: 100%;
  margin: auto;
}

.all-tracks-row-item {
    height: 100% ;
    position: relative;
}

.all-tracks-row-info {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.all-tracks-row-info h3 {
    letter-spacing: 1.0px;
    padding: 5px;
    border-radius: 30px;
    font-weight: bold;
    //background-image: radial-gradient(ellipse, rgba(255, 255, 255, 1.0) 35%, rgba(255,255,255,0.1));
    background-image: radial-gradient(ellipse, white 35%, transparent 100%);
    //background: white;
    //mask:radial-gradient(circle at 20% 40%, transparent , #fff 50%);
    //background-image: radial-gradient(ellipse, white, transparent 100%);
    //background-image: radial-gradient(ellipse, white 40%, transparent 100%);
}

.all-tracks-row-info a {
    text-decoration: none;
}

.all-tracks-row-audio audio {
    height: 25px;
    width: 95%;
    opacity: 0.9;
    margin-top: 60%;
}

.all-tracks-row-item img {
    width: 100%;
    border-radius: 8px;
    opacity: 0.75;
}

