<footer>

	<div>
		<span>soladis-music &copy <%= current_year %> Alle Rechte vorbehalten</span>
	</div>

	<nav id="footer-menu">
		<ul class="nav-ul" id="footer-menu-list">
			<li>
				<%= link_to('Datenschutzerklärung', '/datenschutz')%>
			</li>
			<li>
				<%= link_to('Impressum', '/impressum')%>
			</li>
		</ul>
	</nav>

</footer>

